<%- include('../partials/header') %>

  <h1><%=title%></h1>
  <img src="images/candied-yams.jpg">
      <p>Yams are a vegetable similar to sweet potatoes but come from the motherland in Africa. Africans were used to cooking with yams.</p>    
   <%- include('../partials/footer') %>