<%- include('../partials/header') %>

  <h1><%=title%></h1>
  <img src="images/collard-greens.jpg">
      <p>Collard greens were one of the few vegetables that African-Americans were allowed to grow for themselves and their families back in slavery time. Even after the Africans were emancipated in the late 1800s cooked greens were a comfort in the African-American culture</p>    
   <%- include('../partials/footer') %>