<%- include('../partials/header') %>

  <h1><%=title%></h1>
  <img src="images/baked-mac-and-cheese.jpg">
      <p>Known initially as macaroni pie, baked mac and cheese was created by James Hemings, an African American enslaved and trained as a culinary chef in France.</p>    
    
   <%- include('../partials/footer') %>